h1 {
    color: #D733FF;
font-size: 60px;}
    
h2 { font-size: 25px; font}
body {text-align: center; 
    background: url("https://art.ngfiles.com/images/1346000/1346303_fanamation_jellyfishing.png?f1594527530"); background-size: cover;} 
table {margin-left: auto;
    margin-right: auto;} 
td { border: solid 3px; border-color: #105dd1;}
li{font-size: 25px;} 


